html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.5;
}

a {
	border-bottom: 1px solid;
	text-decoration: none;
	color: #666;
}

.container {
	color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

	.container--inverted {
		color: #4a4a4a;
	}

h1,
h2 {
	margin: 0;
	font-weight: normal;
}

	.container--GOOD {
		background-color: #6EC96E;
	}

	.container--MODERATE {
		background-color: #DFDC58;
	}

	.container--UNHEALTHY-SENSITIVE {
		background-color: #FF9745;
	}

	.container--UNHEALTHY {
		background-color: #CB2D2D;
	}

	.container--VERY-UNHEALTHY {
		background-color: #6B003F;
	}

	.container--HAZARDOUS {
		background-color: #4F0101;
	}

.aqi-value {
	font-size: 7.5rem;
	line-height: 1;
}

.aqi-text-value {
	font-size: 3rem;
	opacity: 0.9;
	text-align: center;
	line-height: 1.2;
	margin-top: 1rem;
}

	.container--VERY-UNHEALTHY .aqi-text-value {
		font-size: 2rem;
	}

	.aqi-text-value__extra {
		font-size: 1rem;
		opacity: 0.6;
	}


.location {
	margin-top: 5rem;
	font-size: 1.2rem;
	opacity: 0.8;
}

.update-time,
.attribution {
	font-size: 0.75rem;
	opacity: 0.75;
}

.attribution {
	margin-top: 2rem;
}
