<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Unhealthy for Sensitive Group - Chiang Mai AQI</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="container container--inverted container--UNHEALTHY-SENSITIVE">
		<h1 class="aqi-value">
			122
		</h1>
		<h2 class="aqi-text-value">
      Unhealthy
			<div class="aqi-text-value__extra">
				for Sensitive Group
			</div>
		</h2>

		<div class="location">Chiang Mai, City Hall</div>
		<div class="update-time">Updated: 7 minutes ago</div>
	</div>
</body>
</html>
